PORT=8000
MONGODB_URL=mongodb://127.0.0.1:27017

CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=secretKHKHK-JIOJOHGUHGHIHOUUI
ACCESS_TOKEN_EXPIRY = 1d

REFRESH_TOKEN_SECRET = refresh-token-secret
REFRESH_TOKEN_EXPIRY = 7d

CLOUDINARY_NAME=
CLOUDINARY_SECRET=
CLOUDINARY_KEY=

NODE_ENV=development

SMTP_MAIL=
SMTP_PASSWORD=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465

# VAPID Keys for Push Notifications
VAPID_PUBLIC_KEY=your_public_vapid_key_here
VAPID_PRIVATE_KEY=your_private_vapid_key_here
VAPID_EMAIL=noreply@foodapp.com



BACKEND_URL=http://localhost:8000/api/v1
OPENWEATHER_API_KEY=your_openweather_api_key_here